{% extends 'learnsql/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
{% if sql_error %}
     <div class="alert alert-danger mt-5 mb-5">Din forespørgsel mislykkedes</div>
{% elif sql_succes %}
     <div class="alert alert-success mt-5 mb-5">Din forespørgsel lykkedes</div>
{% else %}
     <h3 class="mt-5 mb-5">Velkommen til Lær SQL!</h3>
{% endif %}


<h5>Tabeller i databasen</h5>
<ul class="list-group mb-5">
  <li class="list-group-item">customer</li>
  <li class="list-group-item">city</li>
</ul>

<form action="" method="post" class="mb-5">{% csrf_token %}
     {{ form|crispy }}
     <div class="d-flex justify-content-center">
          <button class="btn btn-primary">Send</button>
     </div>
</form>

{% if results %}
     <h5>Resultatet af din forespørgsel</h5>
     <div class="table-responsive">
          <table class="table table-sm table-striped" >

               <table class="table">
                    <thead>
                         <tr>
                              {% for key in  results.0.keys %}
                                   <th>{{ key }}</th>
                              {% endfor %}
                         </tr>
                         {% for result in results %}
                              <tr>
                                   {% for key, val in result.items %}
                                        <td>{{val}}</td>
                                   {% endfor %}
                              </tr> 
                         {% endfor %}

                    </thead>
               </table>
          </div>     
{% endif %}


{% endblock content %}

